@{
    ViewData["Title"] = "Home Page";
    string searchStringXss = "<script>alert('Hacked!')</script>";
}

<h6>Try to search: @searchStringXss </h6>

<h1>Search 2</h1>

<div class="row">
    <div class="col-md-4">
        
        @*
        <form method="post" action="https://localhost:5239/SearchPagePost">
            <input type="hidden" name="searchTerm" value="&lt;script&gt;alert('Hacked!')&lt;/script&gt;">
        </form>
        <script>
            document.forms[0].submit();
        </script>
        *@
        
        <form>
            <div class="form-group">
                <label class="control-label" for="searchTerm"></label>
                <input id="searchTerm" class="form-control"/>
            </div>
            <div class="form-group pt-3">
                <input type="button" id="btn" value="Search" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <ul class="list-group" id="results">
        </ul>
    </div>
</div>

<script>
    document.getElementById("btn").onclick = () => 
    {
        let list = document.getElementById("results");
        list.innerHTML = "";
        let searchTerm = document.getElementById("searchTerm").value;
        fetch("/Home/SearchAPI?searchTerm=" + encodeURIComponent(searchTerm))
        .then(response => response.json())
        .then(data => data.forEach(item => {
            let li = document.createElement("li");
            li.className = "list-group-item";
            li.innerHTML = item;
            list.appendChild(li);
        }));
    }
</script>