@page
@model XssTest.Pages.SearchPageModel

@{
    //http://localhost:5285/?searchTerm=TestString
    //http://localhost:5285/?searchTerm=%3Cscript%3Ealert(%27Hacked!%27)%3C/script%3E
    string searchStringXss = "<script>alert('Hacked!')</script>";
}

<h6>Try to search: @searchStringXss </h6>

<div class="row">
    <div class="col-md-12">

        <form method="get" action="">
            <div class="form-group">
                <label class="control-label" for="searchTerm"></label>
                <input id="searchTerm" name="searchTerm" class="form-control"/>
            </div>
            <div class="form-group pt-2">
                <input type="submit" id="btn" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Raw(Model.Result)
    </div>
</div>